{% extends '::base.html.twig' %}
{% block title %}Cadastro{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block body %}

        <div class="col-md-4">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}
